html, body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
}

*,*::before ::after{
  box-sizing: inherit;
}

body {

  /*background: #faf1eb;*/
  background-image: url('http://localhost/portfolio/static/images/pattern.png');
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header h1{
  font-family: "Ubuntu Condensed", "Arial", sans-serif;
  font-size: 45px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  margin: 0;
}

header {
  background: #fae179;
  color: #ec6d1c;
  max-width: 100%;
  min-height: 100px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.menu {
  background: #ec6d1c;
  padding: 10px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu a{
  color: #faf1eb;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.menu li:hover{
  transform: scale(1.2);
}

.menu a:hover {
  color: #fae179;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ Contenu ~~~~~~~~~~~~~~~~~~ */

.entete h2 {
  margin: 0;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size:24px;
  color: #ec6d1c;
  margin-top: 15px;
  margin-bottom: 30px;
}

.main-content {
  background: #fae179;
  color: #ec6d1c;
  font-weight: 600;
}
.main-content p{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.avatar {
  float: left;
  max-width: 200px;
  padding-right: 20px;
  padding-left: 5px;  /* Pour que ça soit aligné avec le reste */
}

.presentation_p a {
  font-weight: bold;
}

/* unvisited link */
.presentation_p a:link {
  color: #ec6d1c;
}

/* visited link */
.presentation_p a:visited {
  color: #ec6d1c;
}

/* mouse over link */
.presentation_p a:hover {
  color: rgba(236, 109, 28, 0.67);
}

/* Les paragraphes de la section à propos de moi */
.main-content .presentation_p {
  padding-bottom: 50px;
}

hr {
  /* J'ai mis en % car de base le hr fait 800px et le wrapper 1000px donc il couvre 80% du wrapper */
  max-width: 80%;
  height: 3px;
  background-color: #ec6d1c;
  margin-top: 100px;
}

/* ~~~~~~ bloc Portfolio ~~~~~~~*/


.portfolio-container{
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

figure {
  margin: 0;
  /* Permet de masquer le débordement de l'image */
  overflow: hidden;
  max-width: 400px;
  max-height: 300px;
}

figcaption {
  color: #faf1eb;
  max-width: 400px;
  text-align: center;
  background: rgba(132, 138, 138, 0.6);
  position: absolute;
  bottom: 0;
  padding : 20px;
  /* petit fix pour enlever les 10 px qui dépassait à droite et bas (cause : padding de a de 10 px pour séparer images entre elles)*/
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-container a{
  padding: 10px;
  text-decoration: none; /* Pour enlever le soulignement sur le figcaption */
  position: relative; /* Utilisé pour les figcaptions*/
}

.portfolio-container img{
  max-height: 300px;
}

figure img {
  transition: .3s ease-in-out;
}

figure img:hover {
  transform: scale(1.1);
}

/* ~~~~~~~~~~~~~~~~~~~~~ bloc Contact ~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.contact-container {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.contact-container h3 {
  margin: 0;
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #ec6d1c;
}

.contact-container i {
  font-size: 36px;
}

.contact-container p {
  padding-bottom: 10px;
}

.twittericon {
  color: #00aced;
  padding: 5px;
}

.facebookicon {
  color: #3b5998;
  padding: 5px;
}

.linkedinicon {
  color: #007bb6;
  padding: 5px;
}

.githubicon {
  color: #000000;
  padding: 5px;
}

.social-link i:hover {
  color: rgba(236, 109, 28, 0.67);
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  background: #ec6d1c;
  color: #faf1eb;
}

.retourhautpage {
  text-align: center;
}

.retourhautpage a{
  color: #faf1eb;
}

.retourhautpage a:visited{
  color: #faf1eb;
}



/* XxXxXxXxXxXxXxXxXxXxX

Page GMAP

XxXxXxXxXxXxXxXxXxXxX */

.explication_map {
  text-align: center;
  padding: 20px;
}

/* Le bouton pour se geolocaliser dans la page GMAP*/
#localisation {
  font-size: 20px;
  padding: 20px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

#map {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

/* Le message qui indique si l'envoi des coordonnées à bien fonctionné */
#message {
  display: none; /* On cache de base et on fera apparaitre si besoin dans le js */
  font-size: 24px;
  background: #4bd059;
  color: #faf1eb;
  padding: 30px;
  text-align: center;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Le bouton de retour à l'accueil */
/* On cible le formulaire pour faire un espace entre le bouton et le footer */
.backhome {
  padding-bottom: 50px;
}

button[name="backhome"] {
  padding: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}





/*--------------------------------------------------------------------------
                              Tablette (basé sur l'ipad)

--------------------------------------------------------------------------*/


/*Tablette en mode paysage*/
@media (max-width:1024px) {  
}

/*Tablette en mode portrait*/
@media (max-width:768px) {

  #map {
    width: 740px;
    height: 600px;
    margin: 0 auto;
  }

}


/*--------------------------------------------------------------------------
                              Mobile
--------------------------------------------------------------------------*/

/* mobile en mode paysage */
@media (min-width:640px) and (max-width: 767px) {
  #map {
    width: 600px;
    height: 300px;
    margin: 0 auto;
  }
}

/* mobile en mode portrait */
@media (max-width:440px) {
  .wrapper {
    max-width: 320px;
  }
  header h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  .menu {
    background: #ec6d1c;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .menu a{
    color: #faf1eb;
    text-decoration: none;
  }
  .menu li{
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
  }

  .avatar {
    display: block;
    margin: 0 auto;
    float: none;  /* Plus besoin du float puisqu'il n'y a pas assez de place pour que le texte soit à côté de l'image */
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  hr{
    /* Plus besoin d'avoir tant d'espace surtout pour mobile ça économise de l'énergie pour scroll la page :p */
    margin-top: 0px;
  }

  .portfolio-container{
    display: block;
  }

  .portfolio-container iframe{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 150px;
    padding-bottom: 10px;
  }


  .portfolio-container img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 10px;
  }


  figcaption {
    visibility: hidden; /* On cache le figcaption qui prend trop de place */
  }

  /* ~~~~~~~~Bloc Contact ~~~~~~~~~~~~*/

  .contact-container{
    padding-bottom: 20px;
  }

  .social-link {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }

  #map {
    width: 300px;
    height: 400px;
    margin: 0 auto;
  }

}
